.container {
    margin: 30px !important;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
  }

  th{
    font-weight: 300;
    font-size: 13px;
  }
  tbody {
    font-size: 12px;
  }
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .dragdrop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 30px;
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .table-div table .trow{
    min-width: 150px;
  }

  .delete-btn {
    width: 75px;
    height: 28px;
    background-color: #de6e6e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
 
  .selected:hover {
    background-color: #fdc3c0;
  }

  .delete {
    border: none;
    background-color: inherit;
  }

  .deleteButton {
    height: 15px;
    width: 15px;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 767px) {
    .table-div{
      overflow-x: scroll;
    }
    .modal {
      padding-top: 71%;
    }
  }