.example-form {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 100px;
}

.wrapper { 
    /* border : 2px solid #000;  */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow:hidden;
  }
  
  .wrapper > div {
    height: 100%;
    width: 50%;
     /* min-height: 200px; */
     /* padding: 10px; */
  }
  .box1 {

    order: 1;
  }
  .box2 {

    order: 2;
  }
  #one {
    background-color: gray;
    float:right; 
    /* margin-right:20px; */
    /* width:50%; */
    /* border-right:2px solid #000; */
  }
  #two { 
    float:left; 
    background-color: white;
    /* overflow:hidden; */
    /* margin:10px; */
    /* border:2px dashed #ccc; */
    /* min-height:170px; */
  }

  .welcome-div {
    margin-top: 75px;
  }

  .icon-user
  {
    width: 25px;
    height: 16px;
    position: relative;
    opacity: 0.8;
    color: #626262;
  }
  
  .login-btn {
    margin-top: 30px;
    width: 100%;
    background-color: #e4301b;
    color: #ffffff;
  }

  .form-side {
    width: 50%;
    height: 100%;
    margin: 15% auto;
    /* display: grid; */
  }

  /* .form-side > div {
    margin-top: 30px;
  } */
  .your-logo {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
  }

  .trade-img {
    height: 12px;
    vertical-align: top;
  }

  .lock-icon {
    height: 50px;
    width: 50px;
    background-color: #f6ded3;
    color: #e4301b;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .forgot-pass {
    font-size: 12px;
    cursor: pointer;
    color: #939191;
  }

  .sign-up {
    font-size: 14px;
    color: #939191;
  }
  @media screen and (max-width: 600px) {
    .wrapper > div {
      height: 50%;
      width: 80%;
       /* min-height: 200px; */
       /* padding: 10px; */
    }
    .form-side {
      width: 80%;
      height: 50%;
      margin: 15% auto;
      /* display: grid; */
    }
    .welcome-div {
      margin-top: 15px;
    }
     #one { 
      float: none;
      /* margin-right:0; */
      width:auto;
     /*  border:0;
      border-bottom:2px solid #000;     */
    }
    #two { 
      float: none;
      /* margin-right:0; */
      width:auto;
       /*border:0;
      border-bottom:2px solid #000;     */
    }
    .box1 {
      order: 2;
    }
    .box2 {
      order: 1;
    }
  }

