<div class="display wrapper">
  <div id="one" class="box1" style=" ">
    <div class="inner-box">
      <h1 > <span class="bold-text">Digital</span> Platform <br> for distance
        <span class="bold-text">learning</span> </h1>
        <p>Internet and online based digital technologies such as desktop computers, mobile phones and other</p>
    </div>
    <!-- <div style="font-size: 20px;"></div> -->
  </div>
  <div id="two" class="box2">
    <div class="form-side" >
      <div class="your-logo">your <span style="color: #e4301b;">logo</span> 
        <img class="trade-img" src="/assets/images/trademark.png"> 
      </div>
      <div class="welcome-div">
        <div>
          <mat-icon class="lock-icon">lock_outline</mat-icon>
        </div>
        <div class="text-center" style="margin-top: 15px;">
          <h4 style="font-weight: 600; font-size: 20px; letter-spacing: 1px;">Welcome Back</h4>
        </div>
      </div>
      
      <div>
      <form class="text-left" [formGroup]="loginForm" (ngSubmit)="getFormDetails()">
        <div class="form">
          <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix class="icon-user">people</mat-icon>
              <input matInput class="inputbox" formControlName="username" placeholder="Username" name="name"
                type="text">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix class="icon-user">lock</mat-icon>
              <input matInput class="inputbox" formControlName="password" placeholder="Password" name="number"
                type="password">
                <mat-error *ngIf="loginForm?.get('password')?.errors" style="font-size: 12px; ">
                  <mat-icon>warning</mat-icon>
                  Please enter atleast 8 character with number, symbol, capital and small letter</mat-error>
            </mat-form-field>
          </div>
          <div class="text-right">
            <a class="forgot-pass">Forgot Password?</a>
         </div>
          <div>
              <button mat-stroked-button class="login-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
          </div>
          <div style="margin-top: 25px; text-align: center;">
            <span class="sign-up">Don't have an account? <b> Sign Up </b> </span>
          </div>

        </div>
      </form>
    </div>
    </div>

  </div>

</div>